<!DOCTYPE html>
<html>
<head>
  <title>Manage Coupons</title>
  <link rel="stylesheet" type="text/css" href="/css/admin/manageCoupons.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="admin-container">
    <div class="admin-links">
      <a href="/admin/products">Manage Products</a>
      <a href="/admin/stock-management">Manage Stock</a>
      <a href="/admin/users">Manage Users</a>
      <a href="/admin/orders">Manage Orders</a>
      <a href="/admin/analytics">View Analytics</a>
      <a href="/admin/coupons">Manage Coupons</a>
    </div>
    <h2>Manage Coupons</h2>
    <form action="/admin/coupons/add" method="POST">
      <h3>Add Coupon</h3>
      <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code" required>
      </div>
      <div class="form-group">
        <label for="discountType">Discount Type:</label>
        <select id="discountType" name="discountType" required>
          <option value="percentage">Percentage</option>
          <option value="amount">Amount</option> <!-- Updated value -->
        </select>
      </div>
      <div class="form-group">
        <label for="discountValue">Discount Value:</label>
        <input type="number" id="discountValue" name="discountValue" required>
      </div>
      <div class="form-group">
        <label for="expirationDate">Expiration Date:</label>
        <input type="date" id="expirationDate" name="expirationDate" required>
      </div>
      <button type="submit" class="btn">Add Coupon</button>
    </form>
    <h3>Existing Coupons</h3>
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Discount Type</th>
          <th>Discount Value</th>
          <th>Expiration Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% coupons.forEach(coupon => { %>
          <tr>
            <td><%= coupon.code %></td>
            <td><%= coupon.discountType %></td>
            <td><%= coupon.discountValue %></td>
            <td><%= new Date(coupon.expirationDate).toLocaleDateString() %></td>
            <td>
              <form action="/admin/coupons/edit/<%= coupon._id %>" method="POST">
                <button type="submit" class="btn">Edit</button>
              </form>
              <form action="/admin/coupons/delete/<%= coupon._id %>" method="POST">
                <button type="submit" class="btn">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
